<div class="p-4">
<h1 class="text-white text-2xl font-bold"> Chats </h1>
  <div class="w-full h-32"></div>
    <div class="container mx-auto" style="margin-top: -128px;">
        <div class="py-6 h-screen">
          <% profiles.each do  |profile| %>
            <div class="bg-grey-lighter flex-1 overflow-auto">
                <div class="px-3 flex items-center bg-grey-light cursor-pointer">
                    <div>
                        <%= image_tag "https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg", class: "h-12 w-12 rounded-full" %>
                    </div>
                    <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                        <div class="flex items-bottom justify-between">
                          <% if profile.user == current_user %>
                            <p class="text-white">
                              <%= profile.username %> (You)
                            </p>
                          <% else %>
                            <p class="text-white">
                              <%= profile.username %>
                            </p>
                          <% end %>
                            <p class="text-xs text-white">
                                12:45 pm
                            </p>
                        </div>
                        <p class="text-white mt-1 text-sm">
                            Get Andrés on this movie ASAP!
                        </p>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
