<div>
    <div class="w-full h-32" style="background-color: #45C0F5"></div>

    <div class="container mx-auto" style="margin-top: -128px;">
        <div class="py-6 h-screen">

            <div class="bg-grey-lighter flex-1 overflow-auto">
                <div class="px-3 flex items-center bg-grey-light cursor-pointer">
                    <div>
                        <%= image_tag "https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg", class: "h-12 w-12 rounded-full" %>
                    </div>
                    <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                        <div class="flex items-bottom justify-between">
                            <p class="text-grey-darkest">
                                New Movie! Expendables 4
                            </p>
                            <p class="text-xs text-grey-darkest">
                                12:45 pm
                            </p>
                        </div>
                        <p class="text-grey-dark mt-1 text-sm">
                            Get Andrés on this movie ASAP!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
